body{
    
    margin-left: 100px;
}

h1 { 
    background-color: rgba(118, 240, 159, 0.644);
    margin left:  100px;
    font-size: 50px;
    color: #90e0ef;
}

h2 {
    background-color: rgba(172, 223, 32, 0.507);
    font-size: 25px;
    color: #bb80ff;
    margin-top: 40px;

}

p {
    font-size: 20;
    color: indigo;
}

img{
    margin-top: 20px;
}

a{
    text-decoration: none;
    color: crimson;
}

.video{
    width: 45%;
    display: inline-block;
}
